@import url(https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700|Roboto:300,400,500,700,900);

.awssld__content {
  background-color: transparent !important;
}

.awssld__container {
  padding-bottom: 800px !important
}

.slider-wrap-layout1 .slider-left-side-content,
.slider-right-side-content
{
  z-index: 20;
}

.portfolio-box-layout2 .item-img img {
  width: 383px;
  height: 312px;
  object-fit: cover;
}

.blog-wrap-layout2 .blog-box-layout2 img {
  width: 605px;
  height: 432px;
  object-fit: cover;
}

.blog-wrap-layout4 .item-img img {
  width: 360px;
  height: 330px;
  object-fit: cover;
}

.blog-box-layout5 .item-btn {
  cursor: pointer;
}

.custom-banner-content {
  position: absolute;
  top: 50%;
  left: 10%;
  transform: translate(0, -50%);
  width: 40%;
}

.custom-slider-title {
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}

.custom-slider-sub-text {
  font-size: 8rem;
  font-weight: 700 !important;
  font-family: 'Poppins', sans-serif;
  color: #444444;
  font-weight: 500;
  line-height: 7rem;
}

.custom-slider-content {
  font-size: 16px;
  color: #444444;
  font-weight: 500;
}

@media only screen and (max-width: 1399px) {
  .custom-slider-sub-text {
    font-size: 4rem;
    line-height: 4rem;
  }
}

@media only screen and (max-width: 768px) {
  .custom-slider-sub-text {
    font-size: 3rem;
    line-height: 3rem;
  }
}

@media only screen and (max-width: 500px) {
  .custom-slider-sub-text {
    font-size: 2rem;
    line-height: 2rem;
  }

  .custom-slider-content {
    display: none;
  }
}

.custom-btn-show-more {
  text-align: center;
}

.custom-btn-show-more button{
  cursor: pointer;
}

.custom-btn-disabled {
  pointer-events: none;
  cursor: not-allowed !important;
}